/* === Общие настройки === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === Подключение шрифтов Open Sans === */

/* Регулярный шрифт (Regular) */
@font-face {
  font-family: 'Open Sans';
  src: url(..fonts/fonts/OpenSans-Regular.woff2),
       url(..fonts/fonts/OpenSans-Regular.woff);
  font-weight: normal; /* Обычный вес */
  font-style: normal; /* Нормальный стиль */
}

/* Жирный шрифт (Bold) */
@font-face {
  font-family: "Open Sans";
  src: url(..fonts/fonts/OpenSans-Bold.woff2),
       url(..fonts/fonts/OpenSans-Bold.woff);
  font-weight: 700; /* Жирный вес */
  font-style: normal; /* Нормальный стиль */
}

.app {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

a:focus,
a:hover {
  text-decoration: none;
}

 img {
  display: block;
  width: 100%;
  height: auto;
}

/* === Класс для скрытия текста (доступность) === */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* === Общий контейнер (.container) === */
.container {
  max-width: 1220px;
  margin: 0 auto; /* Централизация */
  padding: 0 20px; /* Боковые отступы */
}

/* Шапка с фоновым рисунком */
.site-header {
  position: relative; /* Локальная система координат */
  padding: 20px;
  min-height: 300px; /* Минимальная высота шапки */
  color: white; /* Белый текст для контраста */
  margin-bottom: 65px;
  background-image: url(../images/img/banner-bg.jpg);
  background-size: cover; /* Масштабируем фон на всю область */
  background-position: center; /* Центрируем фон */
  background-repeat: no-repeat; /* Не повторяем фон */
}

.site-header::before {
  content: ""; /* Пустой контент */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Тёмный цвет с прозрачностью 50% */
  z-index: 1; /* Поверх фона */
}


/* Логотип и навигация (внутри шапки) */
.header-content {
  position: relative; /* Над полупрозрачным слоем */
  z-index: 2; /* Над полупрозрачным слоем */
  display: flex; /* Гибкая сетка */
  justify-content: space-between; /* Распределение по краям */
  align-items: center; /* Выравнивание по вертикали */
  margin-bottom: 129px; /* Небольшой отступ снизу */
}

.logo img {
  display: block; /* Устраняет лишние отступы */
  width: 100%; /* Максимально широкая картинка */
  height: auto; /* Сохраняет пропорции */
  max-width: 200px; /* Ограничиваем максимальную ширину */
}
/* Навигационное меню */
.main-navigation ul {
  list-style: none; /* Убираем маркеры списка */
  padding-left: 0; /* Убираем отступ слева */
  display: flex; /* Гибкая сетка */
  gap: 20px; /* Расстояние между пунктами */
}

.main-navigation a {
  color: inherit; /* Наследуем цвет */
  text-decoration: none; /* Без подчеркивания */
  transition: color 0.3s; /* Плавный переход */
}

.main-navigation a:hover {
  text-decoration: underline; /* Добавляем подчеркивание */
}

/* Главный заголовок */
.hero-heading {
  position: relative; /* Над полупрозрачным слоем */
  z-index: 2; /* Над полупрозрачным слоем */
  text-align: center; /* Центрируем текст */
  font-size: 45px; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
  text-transform: uppercase; /* Заглавные буквы */
  margin-bottom: 142px;
}

.trends-section {
  display: flex;
  flex-direction: column;
	width: 100%;
}

.trend-title {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
  position: relative; 
  text-align: center; /* Убедитесь, что текст по центру */
}

.trend-title::after {
    content: "";
    display: block;
    
    /* Ширина и высота линии */
    width: 80px; /* Немного длиннее, чтобы было заметнее */
    height: 4px; /* Чуть толще */

    /* Позиционирование */
    position: absolute;
    bottom: -10px; /* Чуть больше отступа от текста */
    left: 50%;
    
    /* Центровка линии по горизонтали */
    transform: translateX(-50%);

    /* Стили линии */
    background-color: #b59f5b; /* Золотой цвет, как в вашем примере */
    border-radius: 2px; /* Небольшое скругление концов линии (опционально) */
}

.trend-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;	
  margin-top: 40px;
  justify-content: space-between;
}

.trend-article {
  flex: 1 1 calc(25% - 15px);
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 280px;
}

.trend-article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 1;
}


.trend-first {
  background-image: url(../images/img/trend1.jpg);
}

.trend-second {
  background-image: url(../images/img/trend2.jpg);
}

.trend-third {
  background-image: url(../images/img/trend3.jpg);
}

.trend-fourth {
  background-image: url(../images/img/trend4.jpg);
}

.trend-info {
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border: 2px solid #b59f5b;
  overflow: hidden;
  z-index: 2;
}

.trend-content {
  position: relative;
  height: 100%;
}

.trends-categories {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  list-style: none;
  color: #b59f5b;
}

.trend-description {
  font-size: 18px;
  color: #fff;
}

/* 1. Подчеркивание категорий при наведении */
.trend-first .trend-categories-item:hover {
    text-decoration: underline; /* Добавляет подчеркивание */
    text-decoration-color: #b59f5b; /* Цвет подчеркивания (как у рамки) */
}

/* 2. Изменение цвета текста при наведении */
.trend-first .trend-description a:hover {
    color: #b59f5b; /* Меняет цвет текста на цвет рамки */
    text-decoration: none; /* Убирает подчеркивание у самой ссылки, если оно есть */
}

.content-wrapper {
  display: flex; /* Включаем flexbox */
  gap: 120px; /* Промежуток между частями */
  margin-top: 63px;
}

/* === Основная часть страницы (.main-content) === */
.main {
  flex: 2; /* Занимает больше места */
  align-self: flex-start; /* Прижимаем к верхнему краю */
}

.sidebar {
  flex: 1; /* Занимает меньше места */
  align-self: flex-start; /* Прижимаем к верхнему краю */
}

/* === Основная статья (.featured-article) === */
.featured-article {
  display: flex;
  gap: 28px;
  margin-bottom: 53px; /* Расстояние между карточками */
  justify-content: space-between;
}

/* === Миниатюра статьи (.article-thumbnail) === */
.article-thumbnail {
  width: 380px; /* Ширина картинки */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Привязка к верхнему краю */
}

/* === Основная информация (.article-info) === */
.article-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Привязка к верхнему краю */
  width: calc(100% - 380px); /* Оставшееся пространство */
}

/* === Категории статьи (.article-categories) === */
.article-categories {
  display: flex;
  color: #b59f5b;
  gap: 10px;
  margin-bottom: 10px;
  align-self: flex-start; /* Выравнивание категорий слева */
  list-style: none; /* Убираем маркеры списка */
}

/* === Ссылки категорий (.category-link) === */
.category-link {
  font-weight: bold;
  font-size: 14px;
}

/* === Заголовок статьи (.article-title) === */
.article-title {
  font-size: 20px;
  margin-bottom: 20px;
}

/* === Метаданные статьи (.article-meta) === */
.article-meta {
  font-size: 14px;
  margin-bottom: 20px;
}

.article-meta span {
  font-weight: bold;
  margin-left: 1em; /* Отступ слева */
}

/* === Описание статьи (.article-description) === */
.article-description>p {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

.article-description>p:not(:first-child) {
  margin-top: 16px;
}

/* === Отступ между абзацами === */
.article-description + .article-description {
  margin-top: 10px; /* Устанавливаем отступ между абзацами */
}

/* Основной текст (статичен, не двигается) */
.category-link,
.article-title a {
  color: inherit; /* Наследуем цвет */
  transition: color 0.3s ease-in-out; /* Плавный переход цвета */
  display: inline-block; /* Важно для работы псевдоэлемента */
  text-transform: uppercase;
}

/* Подчеркивание ссылки при наведении */
.featured-article:nth-child(1) .article-categories:hover .category-link {
  text-decoration: underline; /* Подчеркивание только для категории */
}

/* Эффект при наведении на первую ссылку (золотистый цвет) */
.featured-article:first-of-type .article-title a:hover {
  color: #b59f5b; /* Золотистый цвет */
}

/* === Заголовки H4 === */
.widget-title {
  position: relative;
  text-align: center; /* Выравнивание по центру */
  margin-bottom: 44px; /* Отступ до следующей ссылки */
}

.widget-title::after {
  content: ""; /* Пустой контент */
  display: block; /* Блочный элемент */
  width: 65px;
  height: 3px; /* Толщина линии */
  bottom: -12px; /* Расстояние между заголовком и линией */
  background-color: #b59f5b; /* Золотой цвет */
  position: absolute; /* Абсолютное позиционирование */
  left: 50%; /* Центр линии */
  transform: translateX(-50%); /* Точная центровка */
}

.new-posts-list {
  list-style: none; /* Убираем маркеры списка */
  padding-left: 0; /* Убираем отступ слева */
}

.post-item {
  display: flex; /* Горизонтальное расположение */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  margin-bottom: 20px; /* Отступ снизу */
  color: inherit; /* Наследует цвет текста */
  transition: color 0.3s ease; /* Плавный переход */
  gap: 20px;
}

/* === Миниатюра поста (.post-thumbnail) === */
.post-thumbnail {
  flex: 1; /* Занимает часть ширины */
}

/* === Информация о посте (.post-info) === */
.post-info {
  flex: 2; /* Занимает больше места */
  display: flex; /* Включаем flexbox */
  flex-direction: column; /* Вертикальное направление */
  justify-content: flex-start; /* Выравнивание по верхнему краю */
}

/* Эффект при наведении на первую ссылку (золотистый цвет) */
.new-posts-list li:first-child .post-info a:hover {
  color: #b59f5b; /* Золотистый цвет */
}

.post-info .subtitle {
  text-align: left; /* Выравнивание по левому краю */
  width: 100%;
}
.widget-title a,
.post-info .subtitle a {
  color: inherit; /* Наследуем цвет */
  transition: color 0.3s ease-in-out; /* Плавный переход цвета */
  display: inline-block; /* Важно для работы псевдоэлемента */
  text-transform: uppercase;
}

.post-info p {
  font-size: 0.8rem;
}

/* Переопределяем глобальные стили для изображений внутри .image-container */
.image-container img {
  width: 100%; /* Автоматически подстраиваемся под размеры изображения */
  height: 100%; /* Сохраняем пропорции */
  object-fit: cover; /* Сохраняем пропорции, обрезая лишнее */
  object-position: center; /* Центрируем изображение */
}

/* Контейнер для изображения */
.image-container {
  position: relative;
  display: inline-block;
  background-color: #f4f7f5; /* Фон маски */
  overflow: hidden; /* Скрывает выходящие за границы элементы */
  width: 100%; /* Занимаем всю ширину родителя */
  height: 100%; /* Занимаем всю высоту родителя */
}

/* Псевдоэлемент для создания маски */
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit; /* Наследует фон родительского элемента */
  z-index: -1; /* Размещаем маску под изображением */
}


/* Стилизация формы */
.search-form {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 60px 0;
}

/* Стилизация поля ввода */
.search-input {
  width: 100%;
  height: 48px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f3f7f5;
}

.search-input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none; /* Убираем стандартный контур */
  border-color: #b59f5b ; /* Меняем цвет границы */
  border-style: solid; /* Тип границы */
  border-width: 2px; /* Толщина границы */
}

/* Стилизация кнопки поиска */
.search-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: none;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-size: 20px;
  background-color: #b59f5b;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s, background-color 0.3s; /* Добавляем плавные переходы */
}

/* Эффект при наведении: уменьшение и смена цвета фона */
.search-button:hover {
  background-color: black; /* Новый цвет фона */
}

.subscribe-form {
  display: block;
}

/* Поле ввода */
.subscribe-form input[type="email"] {
  width: 100%;
  height: 48px;
  padding: 10px;
  border: none;
  margin-bottom: 18px; /* Небольшой отступ снизу */
  font-size: 1rem;
  transition: border-color 0.3s; /* Плавный переход */
  background-color: #f3f7f5;
}

.subscribe-form input[type="email"]:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none; /* Убираем стандартный контур */
  border-color: #b59f5b ; /* Меняем цвет границы */
  border-style: solid; /* Тип границы */
  border-width: 2px; /* Толщина границы */
}

/* Кнопка подписки */
.subscribe-button {
  width: 100%;
  height: 48px;
  padding: 10px 20px;
  margin-bottom: 60px;
  background-color: #b59f5b; /* Золотистый фон */
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s; /* Плавный переход */
  text-transform: uppercase;
}

.subscribe-button:hover {
  background-color: black;
}

/* Список тегов (используем flexbox) */
.tag-list {
  list-style: none; /* Убираем маркеры списка */
  padding-left: 0; /* Убираем отступ слева */
  display: flex; /* Гибкая сетка */
  flex-wrap: wrap; /* Перенос на новую строку */
  gap: 10px; /* Расстояние между тегами */
  margin-bottom: 60px;
}

/* Оформление ссылок */
.tag-list a {
  display: inline-block; /* Нужен для псевдоэлемента */
  padding: 5px 20px;
  border: 3px solid #ddd; /* Светло-серая рамка */
  background-color: white; /* Белый фон */
  font-weight: bold;
  font-size: 12px;
  color: inherit; /* Наследуем цвет */
  transition: color 0.3s ease-in-out; /* Плавный переход цвета */
  text-transform: uppercase;
}

/* Эффект при наведении (золотистая рамка) */
.tag-list li:first-child a:hover {
  border-color: #b59f5b; /* Золотистый цвет рамки */
}

/* Список тем */
.topic-list {
  position: relative; /* Локальная система координат */
  list-style: none; /* Убираем маркеры списка */
  padding-left: 0; /* Убираем отступ слева */
}

/* Оформление ссылок */
.topic-list a {
  display: inline-block; /* Нужен для псевдоэлемента */
  color: inherit; /* Наследуем цвет */
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease-in-out; /* Плавный переход цвета */
  position: relative;
  padding-bottom: 12px; /* Расстояние от текста до линии */
}

/* Количество постов (число сверху) */
.topic-list span {
  vertical-align: super; /* Поднимает число вверх */
  font-size: 12px; /* Малый размер шрифта */
  color: #b59f5b; /* Золотистый цвет */
  font-weight: bold;
  padding: 2px 5px;
}

.topic-list li {
  position: relative; /* Для позиционирования ::after */
  margin-bottom: 30px;
}

/* Подчёркивание через псевдоэлемент ::after */
.topic-list li::after {
  content: ""; /* Пустой контент */
  position: absolute;
  bottom: 0; /* Прикрепляем к низу ссылки */
  left: 0;
  right: 0; /* Заполняет всю ширину ссылки */
  height: 1px; /* Толщина подчёркивания */
  background-color: #ddd; /* Цвет подчёркивания совпадает с текстом */
  transition: opacity 0.3s ease-in-out; /* Плавный переход */
  pointer-events: none; /* Игнорируем события мыши */
  z-index: -1; /* Ниже основного текста */
}

/* Эффект при наведении (цвет и подчёркивание) */
.topic-list a:hover {
  color: #b59f5b; /* Золотистый цвет */
}

/* Убираем линию у последней ссылки */
.topic-list li:last-child::after {
  display: none; /* Убираем линию */
}

.product-section {
  display: flex;
  flex-direction: column;
	width: 100%;
}

.product-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
  position: relative; 
  text-align: center; /* Убедитесь, что текст по центру */
  margin-bottom: 40px;
}

.product-title::after {
    content: "";
    display: block;
    
    /* Ширина и высота линии */
    width: 80px; /* Немного длиннее, чтобы было заметнее */
    height: 4px; /* Чуть толще */

    /* Позиционирование */
    position: absolute;
    bottom: -10px; /* Чуть больше отступа от текста */
    left: 50%;
    
    /* Центровка линии по горизонтали */
    transform: translateX(-50%);

    /* Стили линии */
    background-color: #b59f5b; /* Золотой цвет, как в вашем примере */
    border-radius: 2px; /* Небольшое скругление концов линии (опционально) */
}

.product-grid {
  display: flex;
  justify-content: space-between;
}

.product-card img {
  width: 100%;       /* изображение заполнит всю ширину карточки */
  height: auto;      /* сохранятся исходные пропорции */
  object-fit: cover; /* изображение равномерно заполнит ячейку, обрезая лишнее */
  display: block;    /* уберётся пустое пространство под картинкой */
}

.product-card {
  max-width: 350px;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.img-wrp {
  display: block;
  padding: 0 20px;
  position: relative;
}

/* Маска под изображением */
.img-wrp::after {
  content: ""; /* Обязательное свойство для псевдоэлемента */
  position: absolute;
  bottom: 0; /* Маска снизу */
  left: 20px;
  right: 20px;
  width: calc(100% - 40px); /* Минус удвоенная ширина отступов */
  height: 50%; /* Высота маски (можно регулировать) */
  background-color: #eff5f1; /* Светло-зеленый цвет маски */
  z-index: -1; /* Маска ПОД изображением */
  filter: blur(10px); /* Размытие для мягкости эффекта */
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  border: 2px solid #b59f5b;
  padding: 55px 25px 25px;
  margin-top: -30px;
}

.product-discription a {
  color: #b59f5b;
  text-transform: lowercase;
}

.product-third .product-discription a {
  text-transform: none;
}

.product-first .product-discription a:hover {
  text-decoration: underline;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  width: 100%;
}

.product-price {
  display: flex;
  flex-direction: column;
}

.product-price .old-price {
  text-decoration: line-through;
}

.product-price .new-price {
  font-weight: bold;
  font-size: 18px;
}  

.buy-button {
  min-width: 120px;
  padding: 15px 30px;
  background-color: #b59f5b;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.buy-button:hover {
   background-color: #000;
}

.social-icons-list {
  list-style: none; /* Убираем маркеры списка */
  display: flex; /* Гибкое размещение */
  justify-content: center; /* Выравнивание по центру */
  gap: 20px; /* Промежуток между иконками */
  padding: 30px 0; /* Равномерные вертикальные отступы */
  background-color: #f3f7f5;
}

/* Отдельная иконка */
.social-icon {
  display: block;
  width: 24px; /* Размер иконки */
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.social-icon-dribbble {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.social-icon-pinterest {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
}

.social-icon-tumblr {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

/* Раздел с копирайтом */
.copyright {
  text-align: center; /* Централизация текста */
  margin-top: 70px;
}

.copyright a {
  color: #333; /* Цвет ссылки */
  text-decoration: none; /* Без подчеркивания */
  font-size: 12px;
  font-weight: bold;
}

/* --- Стили кнопки открытия --- */
.open-button {
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

/* --- Стили всплывающего окна --- */

/* 1. Скрываем сам чекбокс */
#popup-open {
    position: absolute;
	top: -9999px;
    left: -9999px;
}

.popup {
    display: flex;
	width: 100%;
	height: 100%;
    position: fixed;
    inset: 0; /* top, right, bottom, left = 0 (современная замена) */

    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 3. Стили для самого контента окна */
.popup-content {
    background: #fff;
    max-width: 500px; /* Ограничиваем максимальный размер */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
