/* === Общие настройки === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === Шрифты === */
@font-face {
  font-family: 'Open Sans';
  src: url(..fonts/fonts/OpenSans-Regular.woff2),
       url(..fonts/fonts/OpenSans-Regular.woff);
  font-weight: normal; /* Обычный вес */
  font-style: normal; /* Нормальный стиль */
}

@font-face {
  font-family: "Open Sans";
  src: url(..fonts/fonts/OpenSans-Bold.woff2),
       url(..fonts/fonts/OpenSans-Bold.woff);
  font-weight: 700; /* Жирный вес */
  font-style: normal; /* Нормальный стиль */
}

.app {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;		
}

a:focus,
a:hover {
  text-decoration: none;
}

 img {
  display: block;
  width: 100%;
  height: auto;
}

/* === Вспомогательные классы === */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* === Контейнеры и общая разметка === */
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px; 
}

/* === Шапка сайта === */
.site-header {
  position: relative; 
  padding: 20px;
  min-height: 300px; 
  color: white; 
  margin-bottom: 65px;
  background-image: url(../images/img/banner-bg.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.header-content {
  position: relative; 
  z-index: 2; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 130px; 
}

.logo img {
  display: block; 
  width: 100%; 
  height: auto; 
  max-width: 200px;
}

/* === Основное навигационное меню === */
.main-navigation ul {
  list-style: none; 
  padding-left: 0; 
  display: flex; 
  gap: 20px; 
}

.main-navigation a {
  color: inherit; 
  transition: color 0.3s; 
}

.main-navigation a:hover {
  text-decoration: underline;
}

/* Главный заголовок */
.hero-heading {
  position: relative; 
  z-index: 2;
  text-align: center;
  font-size: 45px; 
  font-weight: bold; 
  text-transform: uppercase; 
  margin-bottom: 140px;
}

/* === Сейчас в тренде === */
.trends-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trend-title {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
  position: relative; 
  margin-bottom: 40px;	
}

.trend-title::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b59f5b;
}

.trend-grid {
	display: flex;
	flex-wrap: nowrap;
  gap: 5px;
  margin-top: 40px;
  justify-content: space-between;
}

.trend-article {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 320px;
}

.trend-article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 1;
}


.trend-first {
  background-image: url(../images/img/trend1.jpg);
}

.trend-second {
  background-image: url(../images/img/trend2.jpg);
}

.trend-third {
  background-image: url(../images/img/trend3.jpg);
}

.trend-fourth {
  background-image: url(../images/img/trend4.jpg);
}

.trend-info {
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: 15px;
  padding: 20px;
  border: 2px solid #b59f5b;
  overflow: hidden;
  z-index: 2;
}

.trend-content {
  position: relative;
  height: 100%;
}

.trends-categories {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  list-style: none;
  color: #b59f5b;
}

.trend-description {
  font-size: 18px;
  color: #fff;
}

.trend-first .trend-categories-item:hover {
    text-decoration: underline; 
    text-decoration-color: #b59f5b;
}

.trend-first .trend-description a:hover {
    color: #b59f5b;
    text-decoration: none;
}

/* === Основная часть страницы === */
.content-wrapper {
  display: flex; 
  gap: 120px; 
  margin-top: 63px;
}

/* === Основная колонка === */
.main {
  flex: 2; 
  align-self: flex-start; 
}

/* === Боковая колонка === */
.sidebar {
  flex: 1;
  align-self: flex-start;
  max-width: 300px;	
}

/* === Главная статья === */
.featured-article {
  display: flex;
  gap: 28px;
  margin-bottom: 53px;
  justify-content: space-between;
}

.article-thumbnail {
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  width: calc(100% - 380px); 
}

/* === Категории статьи === */
.article-categories {
  display: flex;
  color: #b59f5b;
  gap: 10px;
  margin-bottom: 10px;
  align-self: flex-start; 
  list-style: none; 
}
.category-link {
  font-weight: bold;
  font-size: 14px;
}

/* === Заголовок статьи === */
.article-title {
  font-size: 20px;
  margin-bottom: 20px;
}

/* === Метаданные статьи === */
.article-meta {
  font-size: 14px;
  margin-bottom: 20px;
}

.article-meta span {
  font-weight: bold;
  margin-left: 1em;
}

/* === Описание статьи === */
.article-description>p {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

.article-description>p:not(:first-child) {
  margin-top: 16px;
}

.article-description + .article-description {
  margin-top: 10px;
}

/* === Эффекты при наведении === */
.category-link,
.article-title a {
  color: inherit; 
  transition: color 0.3s ease-in-out;
}

.featured-article:nth-child(1) .article-categories:hover .category-link {
  text-decoration: underline;
}

.featured-article:first-of-type .article-title a:hover {
  color: #b59f5b; 
}

/* === Виджеты боковой панели === */
.widget-title {
  position: relative;
  text-align: center;
  margin-bottom: 44px; 
}

.widget-title::after {
  content: ""; 
  display: block; 
  width: 65px;
  height: 3px; 
  bottom: -12px;
  background-color: #b59f5b;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}

/* === Новые посты === */
.new-posts-list {
  list-style: none;
  padding-left: 0; 
}
.post-item {
  display: flex;
  align-items: flex-start; 
  margin-bottom: 20px; 
  color: inherit; 
  transition: color 0.3s ease; 
  gap: 20px;
}
.post-thumbnail {
  flex: 1;
}
.post-info {
  flex: 2; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
}

/* Эффект при наведении */
.new-posts-list li:first-child .post-info a:hover {
  color: #b59f5b; 
}

.post-info .subtitle {
  text-align: left;
  width: 100%;
}

/* === Специальные стили для виджетов и изображений === */
.widget-title a,
.post-info .subtitle a {
  color: inherit; 
  transition: color 0.3s ease-in-out; 
  display: inline-block; 
  text-transform: uppercase;
}

.post-info p {
  font-size: 0.8rem;
}

.image-container img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center;

.image-container {
  position: relative;
  display: inline-block;
  background-color: #f4f7f5; 
  overflow: hidden; 
  width: 100%; 
  height: 100%; 
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  z-index: -1; 

/* === Поисковая форма === */
.search-form {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 60px 0;
}

.search-input {
  width: 100%;
  height: 48px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f3f7f5;
}

.search-input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none; /* Убираем стандартный контур */
  border-color: #b59f5b ; /* Меняем цвет границы */
  border-style: solid; /* Тип границы */
  border-width: 2px; /* Толщина границы */
}

.search-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: none;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-size: 20px;
  background-color: #b59f5b;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s, background-color 0.3s;
}
	
.search-button:hover {
  background-color: black; /* Новый цвет фона */
}

.subscribe-form {
  display: block;
}

.subscribe-form input[type="email"] {
  width: 100%;
  height: 48px;
  padding: 10px;
  border: none;
  margin-bottom: 18px; 
  font-size: 1rem;
  transition: border-color 0.3s; 
  background-color: #f3f7f5;
}

.subscribe-form input[type="email"]:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
  border-color: #b59f5b ; 
  border-style: solid; 
  border-width: 2px; 
}

.subscribe-button {
  width: 100%;
  height: 48px;
  padding: 10px 20px;
  margin-bottom: 60px;
  background-color: #b59f5b;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s; 
  text-transform: uppercase;
}

.subscribe-button:hover {
  background-color: black;
}

/* Список тегов и тем */
.tag-list {
  list-style: none; 
  padding-left: 0;
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px; 
  margin-bottom: 60px;
}

/* Оформление ссылок */
.tag-list a {
  display: inline-block;
  padding: 5px 20px;
  border: 3px solid #ddd; 
  background-color: white; 
  font-weight: bold;
  font-size: 12px;
  color: inherit; 
  transition: color 0.3s ease-in-out;
  text-transform: uppercase;
}

.tag-list li:first-child a:hover {
  border-color: #b59f5b; 
}

.topic-list {
  position: relative;
  list-style: none; 
  padding-left: 0; 
}
	
.topic-list a {
  display: inline-block; /* Нужен для псевдоэлемента */
  color: inherit; /* Наследуем цвет */
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease-in-out; /* Плавный переход цвета */
  position: relative;
  padding-bottom: 12px; /* Расстояние от текста до линии */
}

.topic-list span {
  vertical-align: super; 
  font-size: 12px; 
  color: #b59f5b;
  font-weight: bold;
  padding: 2px 5px;
}

.topic-list li {
  position: relative; 
  margin-bottom: 30px;
}


.topic-list li::after {
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  height: 1px; 
  background-color: #ddd; 
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; 
  z-index: -1; 
}

.topic-list a:hover {
  color: #b59f5b;
}

.topic-list li:last-child::after {
  display: none;
}

.product-section {
  display: flex;
  flex-direction: column;
	width: 100%;
}

.product-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
  position: relative; 
  text-align: center;
  margin-bottom: 40px;
}

.product-title::after {
    content: "";
    display: block;
    width: 80px; 
    height: 4px; 
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);

    /* Стили линии */
    background-color: #b59f5b; 
    border-radius: 2px; 
}

.product-grid {
  display: flex;
  justify-content: space-between;
}

.product-card img {
  width: 100%;       
  height: auto;      
  object-fit: cover; 
  display: block;   
}

.product-card {
  max-width: 350px;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.img-wrp {
  display: block;
  padding: 0 20px;
  position: relative;
}

.img-wrp::after {
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px); 
  height: 50%; 
  background-color: #eff5f1; 
  z-index: -1; 
  filter: blur(10px); 
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  border: 2px solid #b59f5b;
  padding: 55px 25px 25px;
  margin-top: -30px;
}

.product-discription a {
  color: #b59f5b;
  text-transform: lowercase;
}

.product-third .product-discription a {
  text-transform: none;
}

.product-first .product-discription a:hover {
  text-decoration: underline;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  width: 100%;
}

.product-price {
  display: flex;
  flex-direction: column;
}

.product-price .old-price {
  text-decoration: line-through;
}

.product-price .new-price {
  font-weight: bold;
  font-size: 18px;
}  

.buy-button {
  min-width: 120px;
  padding: 15px 30px;
  background-color: #b59f5b;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.buy-button:hover {
   background-color: #000;
}

.social-icons-list {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  padding: 30px 0; 
  background-color: #f3f7f5;
}

.social-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.social-icon-dribbble {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.social-icon-pinterest {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
}

.social-icon-tumblr {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

/* Раздел с копирайтом */
	
.copyright {
  text-align: center; 
  margin-top: 70px;
}

.copyright a {
  color: #333; 
  text-decoration: none; 
  font-size: 12px;
  font-weight: bold;
}

/* --- Стили кнопки открытия --- */
.open-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
    padding: 12px 25px;
    background-color: #b59f5b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 13;
}

/* --- Стили всплывающего окна --- */
#popup-open {
    display: none;	
}

.popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 10; 
}

#popup-open:checked + .popup {
    display: flex;
}    

.popup-content {
    position: relative;
    background: #fff;
    max-width: 350px;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.close-icon {
    position: absolute;
    top: -50px;
    right: 0;
    cursor: pointer;
    z-index: 12; 
}

.btn {
    width: 30px;
    height: 30px;
}

.popup-title {
    font-size: 20px; 
    margin-bottom: 10px; 
    position: relative; 
	text-align: center;
}

.popup-title::after {
    content: ""; 
    display: block;
    width: 30%; 
    height: 3px; 
    background-color: #b59f5b; 
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto; 
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.styled-select {
  width: 100%;
  padding: 0.6rem 1rem; 
  border: 2px solid transparent; 
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
        appearance: none;  
}
	
.select-arrow {
  position: absolute;
  right: 1rem;
  top: 50%; 
  transform: translateY(-50%);
  width: 1rem;
  height: auto; 
  pointer-events: none;
}

.styled-select:focus {
    outline: none; 
    border-color: #b59f5b;
    box-shadow: 0 0 0 3px rgba(181, 159, 91, 0.3);
}

/* --- Радиокнопки (блок подписки) --- */
.radio-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button label {
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    user-select: none; 
    position: relative;
    padding-left: 20px;
}	

/* --- РАБОЧИЙ КОД ДЛЯ ПЕРЕКЛЮЧЕНИЯ --- */

.radio-button label::before {
    content: "";
    background-image: url(../svg/form-empty-circle.svg); /* Пустая иконка по умолчанию */
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px; 
    height: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
}
    

.radio-button input[type="radio"]:checked + label::before {
    background-image: url(../svg/form-circle.svg); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px
}

.radio-button:hover label {
    background-color: #f5f5f5; /*
}

.radio-button input[type="radio"]:checked + label {
    background-color: #fafafa; 
}
	
.textarea-field {
    width: 100%; 
    padding: 1rem; 
    resize: vertical; 
    transition: border-color 0.2s ease; 
    border: none;
    background-color: #f3f7f5;
}

.textarea-field::placeholder {
    color: #aaa;
}

.textarea-field:focus {
  outline: none; 
	border: 2px solid #b59f5b;
}

.label-for-textarea {
  display: block; 
  margin-bottom: 0.5rem; 
  font-weight: bold; 
}
.submit-btn {
    display: inline-block; 
	  width: 100%;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    color: #fff; 
    background: #B59F5B;
    border: none; 
    cursor: pointer; 
    transition: all 0.2s ease; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.submit-btn:hover {
    transform: scale(1.05); 
    background: #313131;
}

.submit-btn:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2); 

.submit-btn-center {
    display: block;
    margin: 1rem auto;
}
